<!DOCTYPE html>
<html lang="es">
<head>
<link href="../css/style.css" rel="stylesheet">
<% include ../views/Secciones/head %>
  <title>SIICOM-MX | Profile settings</title>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/dashboard"><img src="../img/siicomLogo.png" style="width: 120px; height: 30px; margin-top: -5px;"></a>
        <ul class="user-menu">
          <li class="dropdown pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> <label id="name"><%=data[0].Nombre%></label> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"> &nbsp; &nbsp;  <span id="lvl"></span></a></li>
                <li role="separator" class="divider"></li>
              <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Configuración</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/salir"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>  
    </div><!-- /.container-fluid -->
  </nav>
  <script>
    
    $.ajax({
      url: "/infoUser",
      type: "GET",
      success: function(res){
        $("#name").html(res[0].Nombre);
        $("#setting").attr("href", "/settings/"+res[0].Email);
        if(res[0].Foto == ""){
          $("#fperfil").attr("src", "../fotos/no-user-image.jpg");
        }
        if(res[0].userLvl == 1){
          $("#lvl").html("Administrador");
          $("#item3").show();
        }else{
          $("#lvl").html("Estandar");
        }
      }
    });
  </script>
</head>
<body>
  
  <div class="container" style="padding-top: 60px;">
  <h1 class="page-header">Configurar perfil</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img id="fperfil" src="<%=data[0].Foto%>" style="width: 300px;height: 300px;box-shadow:  2px 11px 79px -18px rgba(0,0,0,0.75);" class=" img-circle "  alt="avatar">
        <div  id="foto" tabindex="-1" aria-hidden="true">

        <form method="post" action="/photoProfile" enctype="multipart/form-data" id="formPhoto">
            <div class="modal-body clearfix">
              <div class="form-group">
                  <label for="Foto">Foto de perfil</label>
                  <input type="file" accept="image/x-png,image/jpg,image/jpeg"  class="form-control" name="foto"  id="Foto" required>
                </div>
              </div>
            <button type="submit" class="actualizarFoto btn btn-primary">Subir</button>
          <div class="modal-footer">
          </div>
        </form>
        </div>
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
          Si desea cambiar la contraseña contacte al administrador.
      </div>
      <h3>Información de perfil</h3>
      <form class="form-horizontal" action="/upProfile" method="post" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Nombre:</label>
          <div class="col-lg-8">
            <input class="form-control" name="Nombre" value="<%=data[0].Nombre%>" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Teléfono</label>
          <div class="col-lg-8">
            <input class="form-control" name="Tel" data-mask="(999) 999-9999" value="<%=data[0].Tel%>" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" name="Email" value="<%=data[0].Email%>"" type="text" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">ID Nextel</label>
          <div class="col-md-8">
            <input class="form-control" name="IDNextel" data-mask="99-999999-9" value="<%=data[0].IDNextel%>" type="text">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8">
          <label class="col-md-6 control-label"></label>
            <input class="btn btn-primary" value="Guardar cambios" type="submit">
            <button class="btn btn-primary"><a href="/dashboard" style="color: white;">Regresar </a></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<% include ../views/Secciones/footer %>

<script>
  
  $(".actualizarFoto").on("click", function(evt){
      evt.preventDefault();

      var formData = new FormData(document.getElementById("formPhoto"));
        $.ajax({
               type: "post" ,
               url: '/photoProfile/'+<%=data[0].idTécnico%>+'',
               data: formData, // Adjuntar los campos del formulario enviado.
               contentType: false,
               processData: false,
               beforeSend: function() 
              {
                  //$('#mensaje').prepend('<img src="facebook.gif" />');
              },
               success: function(data)
               {
                if(data=='done'){
                   location.reload();
                }else{
                  alert("Ocurrió un error: "+data);
                }
               }
             });
     });
</script>

</body>
</html>
